
/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


h1 {
  margin-bottom: 15px;
  text-align: center;
}

#box {
padding: 1%;
margin: 1%;
}

span {
	border: 1px solid black;
	display: block;
	text-align: center;
	width: 34%;
	float: right;
}

p {
  background-color: grey;
  border: 1px solid black;
  margin: 1%;
  font-family: Helvetica;
  float: left;
  text-align: left;
  color: black;
  height: 150px;
}


#p1 > span { background-color: salmon; 
			}
#p2 > span { background-color: #A52A2A; 
	         color: white;
	       }
#p3 > span { background-color: #DEB887; 
	       }


/********** Mobile max 767 **********/
@media (max-width: 767px) {
  #p1 {
  	width: 99%;
  	clear: both;
  }
  #p2 {
    width: 99%;
  }
  #p3{
  	width: 99%;
  }
  body {
    background-color: #F9F6F4;
  }
}

/********** Tablet 768 and 991 **********/
@media (min-width: 768px) and (max-width: 991px) {
  #p1 {
  	width: 48%;
  }
  #p2 {
  	width: 48%;
  }
  #p3{
  	width: 98%;
  }
  #p3 > span{width: 17%}
  body {
    background-color: #E9E0DB;
  }
}


/********** Desktop 992 and above **********/
@media (min-width: 992px) {
  #p1 {
  	width: 31%;
  }
  #p2 {
  	width: 31%;
  }
  #p3{
    width: 31%;
  }
  body{
	background-color: #CCCCCC;
}
}
